.titulo{
    font-family: 'Droid Serif','serif';
    font-size: 42px;
    /*text-align: center;*/

}
#p1{
    color: gray;
    font-size: 22px;
}
*{
    font-size: 19px;
}
p span{
    font-weight: bold;
    font-size: 22px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
}
body{
    background-color: beige;
}
