
h3{
    color: greenyellow;/* color de letras*/
    font-family: Arial, Helvetica, sans-serif; /* Los tipos estan por orden de uso*/
    font-size: 34px;/*Modifica tamaño de letra*/
    font-style: italic; /* tipo de letra*/
    font-weight: 100; /*Cambia ancho de letra*/
}
/*h4{ todo en una linea
    font: font-weight font-style font-size font-family;
}*/
h4,h5{
    font: 200 italic 25px Arial;
    background-color: lightblue;
    text-align: center;
    text-decoration:  underline; /*underline line-throw overline*/
    letter-spacing: 10px; /*Distancia entre letras*/
    word-spacing: 5px; /*Separacion entre palabras*/
    text-transform: capitalize;/* lowercase uppercase transforma el texto segun la propiedad*/
    display: inline;
}
body{
    background-color: cornflowerblue;/*Color de fondo del body*/
    /*background-image: url(../images/f1.jpg);*//*foto de fondo de pantalla*/

}
h6{
    border-width: 4px;/*ancho de borde*/
    color: brown;
    border-style: ridge;/* borde */
    /*padding: 30px;*/
    /* padding: (left & right) (top & bottom ); 5px 10px
        padding : top bottom right left*/
    padding: 30px 10px 4px 23px;
    margin: 20px 53px;/* Mismo que margin*/
}

/*
    Padding : distancia entre borde y texto
    Margin: Distancia entre bode de control y resto de los controles
*/
/*Reglas por clases*/
.vistoso
{
    color: red;
    font-family: Courier New, Courier, monospace;
}
/*Nombre de id en html*/
#parrafoEspecial
{
    color: fuchsia;
}

/*

*{
 selector universal
}

*/
/* Reglas se aplica a todo 2 que se encuentre dentro de 1
1 2{
    color: red;


}



*/
div span{
    color:red;
}

/*
  primer elemento que este al lado del segundo
*/


h5 + p{
    color:yellow;
}
/*
elemento que le siga a otro elemento
*/
p ~ p
{
    color:blue;
}